In [5]:
mylist = [1,2,3]

In [4]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [11]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [12]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [15]:
word = 'abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [19]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = [100,200,300,400,500]

In [20]:
zip(mylist1, mylist2)

In [22]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [24]:
for a,b,c in zip(mylist1, mylist2, mylist3):
    print(c)

100
200
300
400
500

In [25]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]

In [26]:
'x' in [1,2,3]

False

In [27]:
'x' in ['x','y','z']

True

In [28]:
'a' in 'a world'

True

In [29]:
'mykey' in {'mykey':345}

True

In [30]:
d = {'mykey':345}
345 in d.values()

True

In [31]:
d = {'mykey':345}
345 in d.keys()

False

In [32]:
mylist = [10,20,30,40,100]

In [33]:
min(mylist)

10

In [34]:
max(mylist)

100

In [39]:
from random import shuffle
mylist = [1,2,3,4,5,6,7,8,9,10]

In [42]:
random_list = shuffle(mylist)

In [45]:
type(random_list)

NoneType

In [46]:
mylist

[5, 9, 3, 2, 7, 8, 10, 6, 1, 4]

In [47]:
from random import randint

In [55]:
mynum = randint(0,100)

In [56]:
mynum

38

In [58]:
result = input('Enter a number here: ')

Enter a number here: 3